---
import Logo from "./Logo.astro";
---

<header id="header-nav" class="fixed top-0 w-full px-6 py-4 z-50 bg-main">
  <div class="max-w-7xl mx-auto flex items-center justify-between gap-6">
    <a href=""><Logo width="50" /> </a>
    <a href=""> <h1 class="text-white font-medium text-xl">PostFit</h1></a>
    <nav id="header-menu" class="flex ml-auto gap-8">
      <a href="#features" class="font-medium text-white">Features</a>
      <a href="#roadmap" class="font-medium text-white">Roadmap</a>
    </nav>
  </div>
</header>
