---
import Logo from "./Logo.astro";
---

<div
  class="relative h-dvh w-full max-w-[100vw] md:h-[80vh] xl:h-full pt-[120px]"
>
  <div class="z-10 m-auto flex flex-row w-full justify-around max-w-[60vw]">
    <p class="text-5xl font-bold text-white self-center">
      <span class="text">Guarda,</span> comparte y analiza tus entrenamientos
    </p>
    <img
      width="300"
      class="hidden md:block animate-fade-up rounded-3xl border-secondary border-2"
      src="/public/image.png"
      alt="Scroll down"
    />
  </div>
</div>
