---
import { languages } from "../i18n/ui";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
console;
debugger;
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={translatePath(``, lang)}>{t(label)}</a>
      </li>
    ))
  }
</ul>
