---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Layout {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content={description} />
    <title>{title}</title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
      }

      body {
        display: flex;
        flex-direction: column;
        background-color: #111114;
      }

      .hero-section-2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-bottom: 0; /* Ensures no extra space at the bottom */
      }

      .content-wrapper {
        flex-grow: 1; /* Fills the remaining space */
        margin-top: 4rem; /* Adjust this margin to control the space below header */
      }

      footer {
        max-height: 200px; /* Set the maximum height of the footer */
        overflow: hidden; /* Hide content if it exceeds max-height */
        padding: 20px;
        background-color: #25262b;
      }
    </style>
  </head>
  <body class="bg-main">
    <section class="hero-section-2">
      <!-- Header with padding or margin to ensure it doesn't overlap with content -->
      <Header />

      <!-- Content goes here, the space below the header is automatically handled -->
      <div class="content-wrapper mt-16">
        <slot />
      </div>
    </section>

    <!-- Footer Section -->
    <Footer />
    <!-- Add Footer here -->
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    overscroll-behavior: none;
  }

  .hero-section {
    height: 100vh; /* Covers only the first viewport height */
    background: linear-gradient(120deg, #eb7c2d 0%, rgb(218, 90, 27) 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    color: white;
  }
  .hero-section-2 {
    background: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
  }

  .info-section {
    height: 100vh; /* Covers only the first viewport height */
    background: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    color: white;
  }

  #header-nav {
    background: transparent;
    backdrop-filter: blur(5px);
  }

  @keyframes blur {
    to {
      box-shadow:
        0 5px 50px -5px hsla(0, 94%, 45%, 0.575),
        0 0 0 1px hsla(0, 86%, 41%, 0.315);
      background-color: rgba(221, 31, 31, 0.671);
      backdrop-filter: blur(10px);
    }
  }
</style>
