---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Layout {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />

    <title>{title}</title>
  </head>
  <body class="bg-main">
    <section class="hero-section-2">
      <!-- Header with padding or margin to ensure it doesn't overlap with content -->
      <Header />

      <!-- Content goes here, the space below the header is automatically handled -->
      <div class="content-wrapper mt-16">
        <slot />
      </div>
    </section>
    
    <!-- Footer Section -->
    <Footer /> <!-- Add Footer here -->
  </body>
</html>


<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    overscroll-behavior: none;
  }

  .hero-section {
    height: 100vh; /* Covers only the first viewport height */
    background: linear-gradient(120deg, #eb7c2d 0%, rgb(218, 90, 27) 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    color: white;
  }
  .hero-section-2 {
    background: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
  }

  .info-section {
    height: 100vh; /* Covers only the first viewport height */
    background: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    color: white;
  }

  #header-nav {
    background: transparent;
    backdrop-filter: blur(5px);
  }

  @keyframes blur {
    to {
      box-shadow:
        0 5px 50px -5px hsla(0, 94%, 45%, 0.575),
        0 0 0 1px hsla(0, 86%, 41%, 0.315);
      background-color: rgba(221, 31, 31, 0.671);
      backdrop-filter: blur(10px);
    }
  }
</style>
